<div class="secret-admin-container">


    <mat-card>
        <mat-card-header>
            <mat-card-title>Privacy Settings</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="verticalContainer">
                <mat-slide-toggle
                  [checked]="displayOptions.wallet"
                  (change)="displayOptions.wallet = $event.source.checked">
                    Share Email
                </mat-slide-toggle>

                <mat-slide-toggle
                  [checked]="displayOptions.rewards"
                  (change)="displayOptions.rewards = $event.source.checked">
                  Location
                </mat-slide-toggle>
                <mat-slide-toggle
                  [checked]="displayOptions.kyc"
                  (change)="displayOptions.kyc = $event.source.checked">
                  Remember me
                </mat-slide-toggle>

                <mat-form-field>
                    <input matInput type="email" placeholder="Email"
                           [(ngModel)]="displayOptions.email">
                </mat-form-field>

            </div>
            <mat-card-actions align="end">
              <button color="primary" (click)="saveDisplayOptions()" mat-button>Save Options</button>
            </mat-card-actions>
        </mat-card-content>
    </mat-card>

    <!--<mat-card>-->
        <!--<mat-card-header>-->
            <!--<mat-card-title>Key Value Data</mat-card-title>-->
        <!--</mat-card-header>-->
        <!--<mat-card-content class="verticalContainer">-->
            <!--<pre>{{displayOptions | json}}</pre>-->
        <!--</mat-card-content>-->
    <!--</mat-card>-->



</div>



