<div class="wrapper-landing">
	<div class="wrapper_header">
	<div class="flex-container">
		<div class="flex-item">
			<a  style=" text-decoration: none;" href="javascript:void(0);"><span style="width: 256px;overflow: visible;font-size: 30px;">Chain Research</span></a>
			<div class="wrapper_logo">

			</div>
		</div>
	</div>
	</div>
</div>

<div class="wrapper_banner">
	<img src="assets/banner_02.jpg" alt="">
	<div class="wrapper-resize-text">
	<div class="wrapper_vertical-position">
		<div class="banner_text">
			<h2 style="color: black">Trust the data not us</h2>
			<a href="https://base-auth-frontend-staging.herokuapp.com/auth/signup/landing" target="_blank" style="overflow: visible"><span>Join Coin Research</span></a>
		</div>

	</div>
	</div>
</div>

